{{- if .Site.Params.subscription.enable -}}
<!-- Subscribe Form -->
<div id="subscribe" class="subscribe-form">
    <p>{{ .Site.Params.subscription.description }}</p>
    <form action="https://buttondown.email/api/emails/embed-subscribe/diegoscarabelli" method="post" class="embeddable-buttondown-form">
        <div class="form-group">
            <input type="email" name="email" id="bd-email" placeholder="Enter your email" required>
            <input type="hidden" value="1" name="embed">
        </div>
        <button type="submit" class="subscribe-button">{{ .Site.Params.subscription.buttonText }}</button>
    </form>
    <p class="subscribe-note">{{ .Site.Params.subscription.note }}</p>
</div>
{{- end -}} 